<html>
  <head>
    <meta charset="utf-8">
    <title>Métodos de integración</title>
    <link rel="stylesheet" href="public/css/bulma.min.css">
  </head>
  <body>
    <div>
      
      <!-- Tabs -->
        <section class="hero is-info">
           <div class="hero-body">
              <div class="container has-text-centered">
                 <h1 class="title">
                    Métodos numéricos - Métodos de integración
                 </h1>
              </div>
           </div>
           <div class="hero-foot">
              <nav class="tabs is-boxed is-fullwidth is-large">
                 <div class="container">
                    <ul>
                      <li class="tab is-active" onclick="openTab(event,'tabTrapecio')">
                        <a>Trapecio</a>
                      </li>
                      <li class="tab" onclick="openTab(event,'tabSimpson')">
                        <a>Simpson 3/8</a>
                      </li>
                    </ul>
                 </div> 
              </nav>
           </div>
        </section>
      <!-- Tabs -->

      <div class="container section">
        <!-- Trapecio-->
          <div id="tabTrapecio" class="content-tab" >
            <div class="columns" style="margin-top: 2rem;">
              <div class="column is-6 is-offset-3">
                <div class="field">
                  <label class="label">a</label>
                  <div class="control">
                    <input class="input" type="number" placeholder="Inicio del intervalo" v-model.numeric="a">
                  </div>
                  <p class="help is-danger">
                    {{errors.a}}
                  </p>
                </div>
                <div class="field">
                  <label class="label">b</label>
                  <div class="control">
                    <input class="input" v-model.numeric="b" type="number" placeholder="Fin del intervalo">
                  </div>
                  <p class="help is-danger">
                    {{errors.b}}
                  </p>
                </div>
                <div class="field">
                  <label class="label">n</label>
                  <div class="control">
                    <input class="input" type="number" v-model.numeric="n" placeholder="Divisón del intervalo">
                  </div>
                  <p class="help is-danger"> {{errors.n}} </p>
                </div>
                <div class="field">
                  <div class="control">
                    <p class="help is-danger"> {{errors.result}} </p>
                    <input class="button is-primary is-pulled-right" @click="showXTable" type="button" value="Capturar F(x)">
                  </div>
                </div>
                <div class="content" v-show="Xs.length > 0">
                  <table class="table is-fullwidth">
                    <thead>
                      <tr>
                        <th>X</th>
                        <th>F<sub>(x)</sub></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="X in Xs">
                        <td> {{X.x}} </td>
                        <td> <input class="input" type="number" v-model.numeric="X.fx" /> </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="field">
                    <div class="control">
                      <input class="button is-success is-pulled-right" @click="calculateTrapecio" type="button" value="Calcular">  
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <input class="button is-danger is-pulled-right" @click="resetForm" type="button" value="Limpiar"> 
                    </div>
                  </div>
                  <hr>
                  <h1 class="title is-5" v-show="result !== false">Resultado: {{result}}</h1>
                </div>
                <hr>  
              </div>
            </div>
          </div>
        <!-- Trapecio END-->

        <!-- Simpson-->
          <div id="tabSimpson" class="content-tab" style="display:none">
            <div class="columns" style="margin-top: 2rem;">
              <div class="column is-6 is-offset-3">
                <div class="field">
                  <label class="label">a</label>
                  <div class="control">
                    <input class="input" type="number" placeholder="Inicio del intervalo" v-model.numeric="a">
                  </div>
                  <p class="help is-danger">
                    {{errors.a}}
                  </p>
                </div>
                <div class="field">
                  <label class="label">b</label>
                  <div class="control">
                    <input class="input" v-model.numeric="b" type="number" placeholder="Fin del intervalo">
                  </div>
                  <p class="help is-danger">
                    {{errors.b}}
                  </p>
                </div>
                <div class="field">
                  <label class="label">n</label>
                  <div class="control">
                    <input class="input" type="number" v-model.numeric="n" placeholder="Divisón del intervalo">
                  </div>
                  <p class="help is-danger"> {{errors.n}} </p>
                </div>
                <div class="field">
                  <div class="control">
                    <p class="help is-danger"> {{errors.result}} </p>
                    <input class="button is-primary is-pulled-right" @click="showXTable" type="button" value="Capturar F(x)">
                  </div>
                </div>
                <div class="content" v-show="Xs.length > 0">
                  <table class="table is-fullwidth">
                    <thead>
                      <tr>
                        <th>X</th>
                        <th>F<sub>(x)</sub></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="X in Xs">
                        <td> {{X.x}} </td>
                        <td> <input class="input" type="number" v-model.numeric="X.fx" /> </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="field">
                    <div class="control">
                      <input class="button is-success is-pulled-right" @click="calculateSimpson" type="button" value="Calcular">  
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <input class="button is-danger is-pulled-right" @click="resetForm" type="button" value="Limpiar"> 
                    </div>
                  </div>
                  <hr>
                  <h1 class="title is-5" v-show="result !== false">Resultado: {{result}}</h1>
                </div>
                <hr>  
              </div>
            </div>
          </div>
        <!-- Simpson END-->
      </div>
    </div>
    <footer class="footer has-background-info" style="padding-bottom: 4rem;">
      <div class="content has-text-centered has-text-light">
        <p>
          <strong>Equipo 3</strong>
        </p>
        <span>Brandon Alejandro Mosqueda González</span><br>
        <span>Daniel Salomón Marmolejo Contreras</span><br>
        <span>Rebeca Noelia Flores Urtiz</span><br>
        <span>Isaac Ramírez Martínez </span><br>
      </div>
    </footer>
  </body>
  <script src="public/js/navbar-bulma.js"></script>
  <script src="public/js/vue.min.js"></script>
  <script>
    const vueTrapecio = new Vue({
      el: "#tabTrapecio",
      data: {
        a: 0,
        b: 0,
        n: 0,
        h: 0,
        Xs: [],
        result: false,
        errors: {
          a: '',
          b: '',
          n: '',
          result: ''
        }
      },
      methods: {
        showXTable() {
          if(this.a >= this.b) {
            this.errors.a = 'a debe ser menor que b';
            return;
          }
          else
            this.errors.a = '';

          if(this.n <= 0) {
            this.errors.n = 'n debe ser mayor a 0';
            return;
          }
          else
            this.errors.n = '';

          this.h = (this.b - this.a) / this.n;
          var temp = Number(this.a), i;

          this.Xs = [];

          for (i = 0; i <= this.n; i++) {
            this.Xs.push({x: temp, fx: 0});
            temp += Number(this.h);
          }
        },
        calculateTrapecio() {
          let length = this.Xs.length;
          let numerator = Number(this.Xs[0].fx) + Number(this.Xs[ length - 1 ].fx);
          let middle = 0;

          for (var i = 1; i < length - 1; i++) {
            console.log(this.Xs[i].fx);
            middle += Number(this.Xs[i].fx);
          } 

          numerator += 2 * Number(middle);

          this.result = (this.b - this.a) * ( Number(numerator) / (2 * Number(this.n)) );
        },
        resetForm() {
          this.a = 0;
          this.b = 0;
          this.n = 0;
          this.h = 0;
          this.Xs = [];
          this.result = false;

          this.errors.a = '';
          this.errors.b = '';
          this.errors.n = '';
          this.errors.h = '';
          this.errors.result = '';
        },
        test() {
          this.a = 0;
          this.b = 1;
          this.n = 4;
          this.h = 0.25;

          this.Xs = [{x: 0, fx: 0}, {x: 0.25, fx: 0.5}, {x: 0.5, fx: 0.7071}, {x: 0.75, fx: 0.8660}, {x: 1, fx: 1}];
        },
        test2() {
          this.a = 0;
          this.b = 1;
          this.n = 6;
          this.h = 0.1666;

          this.Xs = [
            {x: 0, fx: 0}, 
            {x: 0.1666, fx: 0.4081}, 
            {x: 0.3333, fx: 0.5773}, 
            {x: 0.4999, fx: 0.7070}, 
            {x: 0.6665, fx: 0.8163}, 
            {x: 0.8331, fx: 0.9127},
            {x: 1, fx: 1}
          ];
        }
      }
    });

    const vueSimpson = new Vue({
      el: "#tabSimpson",
      data: {
        a: 0,
        b: 0,
        n: 0,
        h: 0,
        Xs: [],
        result: false,
        errors: {
          a: '',
          b: '',
          n: '',
          result: ''
        }
      },
      methods: {
        showXTable() {
          let a = Number(this.a);
          let b = Number(this.b);
          let n = Number(this.n);

          if(a >= b) {
            this.errors.a = 'a debe ser menor que b';
            return;
          }
          else
            this.errors.a = '';

          if(n <= 3) {
            this.errors.n = 'n debe ser mayor a 0 y mayor o igual a 3';
            return;
          }
          else if(n % 2 === 0) {
            this.errors.n = 'Para este método es necesario una n impar, sino se recomienda usar el método de trapecio';
            return;
          }
          else
            this.errors.n = '';

          this.h = (b - a) / n;
          let temp = a 
          let i;

          this.Xs = [];

          for (i = 0; i <= this.n; i++) {
            this.Xs.push({x: temp, fx: 0});
            temp += Number(this.h);
          }
        },
        calculateSimpson() {
          let a = Number(this.a);
          let b = Number(this.b);
          let n = Number(this.n);
          let h = Number(this.h);

          let length = this.Xs.length;
          console.log("a: ", a);
          console.log("b: ", b);
          console.log("n: ", n);
          console.log("h: ", h);
          console.log("F0: ", this.Xs[0].fx);
          console.log("F1: ", this.Xs[1].fx);
          console.log("F2: ", this.Xs[2].fx);
          console.log("F3: ", this.Xs[3].fx);

          let simpson = (h * 3 - a) * (this.Xs[0].fx + ((3 * (this.Xs[1].fx + this.Xs[2].fx)) + this.Xs[3].fx) / 8);
          console.log("Simpson: ", simpson);


          //Con trapecio lo demás
          let numerator = 0; //Los de enmedio que se multiplican

          for (var i = 4; i < n; i++)  {
            console.log(this.Xs[i].fx);
            numerator += Number(this.Xs[i].fx);
          }
          console.log("numerator antes * 2: ", numerator);
          numerator *= 2;
          console.log("numerator * 2: ", numerator);
          numerator += this.Xs[3].fx + this.Xs[ this.Xs.length - 1 ].fx;
          console.log("numerator definitivo: ", numerator);
          console.log("b - h * 3: ", b - h * 3);

          let trapecio = Number(numerator) / (2 * (n - 3));
          console.log("trapecio: ", trapecio);
          trapecio *= (b - h * 3);
          console.log("trapecio 2: ", trapecio);
          this.result = Number(trapecio) + Number(simpson);
        },
        resetForm() {
          this.a = 0;
          this.b = 0;
          this.n = 0;
          this.h = 0;
          this.Xs = [];
          this.result = false;

          this.errors.a = '';
          this.errors.b = '';
          this.errors.n = '';
          this.errors.h = '';
          this.errors.result = '';
        },
        test() {
          this.a = 0;
          this.b = 1;
          this.n = 7;
          this.h = 0.1428;

          this.Xs = [
            {x: 0, fx: 0}, 
            {x: 0.1428, fx: 0.3778}, 
            {x: 0.2857, fx: 0.5345}, 
            {x: 0.4285, fx: 0.6545}, 
            {x: 0.5713, fx: 0.7558}, 
            {x: 0.7141, fx: 0.8450},
            {x: 0.8564, fx: 0.9256},
            {x: 1, fx: 1}
          ];
        },
        test2() {
          this.a = 1;
          this.b = 4;
          this.n = 9;
          this.h = 0.3333;

          this.Xs = [
            {x: 1, fx: 1}, 
            {x: 1.3333, fx: 1.1546}, 
            {x: 1.6666, fx: 1.2909}, 
            {x: 2, fx: 1.4142}, 
            {x: 1.3333, fx: 1.5275}, 
            {x: 1.6666, fx: 1.6324}, 
            {x: 3, fx: 1.7320}, 
            {x: 1.3333, fx: 1.8257}, 
            {x: 1.6666, fx: 1.9148}, 
            {x: 4, fx: 2}
          ];
        }
      }
    });

    // For tabs
    function openTab(evt, tabName) {var i, x, tablinks; x = document.getElementsByClassName("content-tab"); for (i = 0; i < x.length; i++) {x[i].style.display = "none"; } tablinks = document.getElementsByClassName("tab"); for (i = 0; i < x.length; i++) {tablinks[i].className = tablinks[i].className.replace(" is-active", ""); } document.getElementById(tabName).style.display = "block"; evt.currentTarget.className += " is-active";}
  </script>
</html>


